<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Handy Helper 2!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="col">Hello {{loggedUser.firstName}}! Let's edit your job!</h2>
            <a class="col-2" href={% url 'taskManager:logout' %}>Logout</a>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p class="alert alert-danger role=alert">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <form class="col-6" action={% url 'taskManager:register' %} method="POST">    
                <h2 class="row">Editing Job "{{task.title}}"</h2>
                {% csrf_token %}
                <div class="form-group row">
                    <label for="title" class="col-form-label">Title:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="title" value="{{task.title}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="desc" class="col-form-label">Description:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="desc" value="{{task.desc}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="location" class="col-form-label">Location:</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="location" value="{{task.location}}">
                    </div>
                </div>
                <div class="form-group row">
                    Category:
                    <div class="col">
                        {% for category in categories %}
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" name="{{category.title}}" {% if category in task.categories.all %}checked{% endif %}>
                                <label for="{{category.title}}" class="form-check-label">{{category.title}}</label>
                            </div>
                        {% endfor %}
                        <div class="form-group row">
                            <label for="categoryOther">Other:</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" name="categoryOther">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" formaction={% url 'taskManager:editTask' taskID=task.id %}>Submit</button>
                <button class="btn btn-primary" type="submit" formaction={% url 'taskManager:dashboard' %}>Cancel</button>
            </form>
        </div>
    </div>
</body>
</html>