<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Handy Helper 2!</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class="col">Hello {{loggedUser.firstName}}! You're currently trying to remove a job!</h2>
            <a class="col-2" href={% url 'taskManager:logout' %}>Logout</a>
        </div>
        {% if messages %}
            {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                    <p class="alert alert-danger role=alert">{{ message }}</p>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row">
            <form class="col-6" action={% url 'taskManager:register' %} method="POST">
                {% csrf_token %}
                <h2>Are you sure you want to remove the below job?</h2>
                <h3>Job Title: "{{task.title}}"</h3>
                <ul>
                    <li>{{task.desc}}</li>
                    <li>Location: {{task.location}}</li>
                    <li>Posted by: {{task.addedBy.firstName}}</li>
                    <li>Posted on: {{task.createdAt}}</li>
                    <li>
                        Categories: {% for category in task.categories.all %}{{category.title}} | {% endfor %}
                    </li>
                </ul>
                <button class="btn btn-primary" type="submit" formaction={% url 'taskManager:removeTask' taskID=task.id %}>Submit</button>
                <button class="btn btn-primary" type="submit" formaction={% url 'taskManager:dashboard' %}>Cancel</button>
            </form>
        </div>
    </div>
</body>
</html>